# python
__pycache__/
*.pyc

.venv/

.DS_Store
.idea/

data/*
!data/city_bounds.csv
!data/city_dict.txt
!data/district_bounds.csv
!data/example.json
!data/citys.csv

log/*

result/*
!result/test.txt
!result/error.txt